body {
    background:     #000;
    font-family:    arial;
    font-size:      x-large;
}
td {
    background:     #FFF;
    border-style:   outset;
    border-width:   3px;
}
th {
    background:     #000;
    border-style:   inset;
    border-width:   3px;
    color:          #FFF;
    font-weight:    bold;
    letter-spacing: 5px;
    text-align:     center;
}
a:link {
    color:          #000;
}
a:visited {
    color:          #000;
}
a:hover {
    color:          #FF0000;
}
a:active {
    color:          #FFF;
}
